.back-row {
    justify-self: flex-start;
    border: none;
    background-color: var(--main-background);
    padding: 20px;
    border-radius: 300Px;
    margin-top: 40px;
    width: 20%;
}

.days-selector{
    display: flex;
    justify-content: space-around;
    background-color: var(--main-background);
    border-radius: 18px;
}

.day{
    font-weight:400;
}

.days-selector button{
    background-color: transparent;
    border : none;
}
.feed-meal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.btn-course{
    margin-top: 50px;
    background-color: var(--main-background);
    border: 1px solid var(--yellow-glucide);
    box-shadow: var(--box-shadow);
    border-radius: 100px;
    padding: 0rem 7rem;
}

.btn-card-mealPlan{
    border: none;
    background-color: transparent;
    width: 100%;
}