.bloc-question{
    padding: 20px;
    margin-top: 10vh;
    height: 75vh;
    width: 90%;
    background-color: var(--main-background);
    box-shadow: var(--box-shadow);
    border-radius: 30pt;
}

.btn{
    display: flex;
    padding: 13px 86px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--Pink-Lipides, #F4A79D);
    background: var(--Main-Background, #FFF);
}